*{
    margin: 0%;
    padding: 0%;
    font-family: 'Inter';
}
.sec2{
flex-wrap: wrap;
flex-direction: column;
display: flex;
align-items: center;
height: 288px;
margin-left: 3%;
margin-right: 1.5%;
padding-bottom: 96px;
}
.cont1{
display: flex;
flex-direction: column;
gap: 20px;
width: 280px;
height: 192px;
}
.h1num{
    color: #8E2424;
    font-size: 60px;
}
.minitit{
    font-weight: bold;
}
.ptit{
    color: #667085;
}