*{
    margin: 0%;
    padding: 0%;
    font-family: 'Inter';
}
.sec6{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: rgba(196, 25, 25, 0.03);
border-radius: 16px;
padding: 4%;
margin: 4%;
}
.p1sec6{
    color: #8E2424;
    font-weight: bold;
    padding: 1%;
}
.p2sec6{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding: 1%;
}
.p3sec6{
    font-weight: bold;
}
.p4sec6{
    color: #667085;
}
.imgsec6{
    padding: 1%;
}